{% extends 'base.html' %}

{% block title %}Maktab CRM - O'qituvchi ma'lumotlari{% endblock %}

{% block content %}

    <h1>O'qituvchi ma'lumotlari</h1>
    <div class="teacher-details">
        <div class="teacher-info">
            <!-- Teacher Image -->
            {% if teacher.photo %}
                <img src="{{ teacher.photo.url }}" alt="O'qituvchi rasmi" class="teacher-image">
            {% else %}
                <img src="{% url 'media/default-teacher.jpg' %}" alt="O'qituvchi rasmi" class="teacher-image">
            {% endif %}

            <h2>{{ teacher.first_name }} {{ teacher.last_name }}</h2>
            <p>ID: <span>{{ teacher.id }}</span></p>
            <p>Fan: <span>{{ teacher.subject.name }}</span></p>
            <p>Telefon: <span>{{ teacher.phone }}</span></p>
            <p>Email: <span>{{ teacher.email }}</span></p>
            <p>Ish tajribasi: <span>{{ teacher.experience }} yil</span></p>
        </div>
    </div>
    <div class="actions">
        <a href="{% url 'teachers:update' teacher.id %}" class="btn">
            <i class="fas fa-edit"></i> Tahrirlash
        </a>
        <a href="{% url 'teachers:delete' teacher.id %}" class="btn btn-danger"
           onclick="return confirm('O‘qituvchi ma'lumotinini o‘chirishga ishonchingiz komilmi?');">
           <i class="fas fa-trash"></i> O'chirish
        </a>
    </div>

{% endblock %}
